[Desktop Entry]
Type=Application
Name=KheetSheet
Comment=Overlay showing the active app's keyboard shortcuts
Exec=kheetsheet
Icon=coffee._28mm.KheetSheet
Categories=Utility;Accessibility;
Terminal=false
